{%
  set add_class = [
    'header-top-right-right',
    'm-0 my-auto ps-0',
    page.language_dropdown ? 'content-right w-50 d-inline-block' : 'content-right'
  ]
%}
<div class="header-top">
  <div class="container">
    <div class="header-top-container min-vh-5 p-0 content-xs">

    {% if page.header_top %}
      <div class="header-top-block header-top-left align-middle my-auto w-50">
        {{ page.header_top }}
      </div> <!--/.header-top-left -->
    {% endif %}

    {% if page.language_dropdown or show_header_icon %}
      <div class="header-top-block header-top-right align-middle my-auto w-50">
        {% if page.language_dropdown %}
          <div class="header-top-center content-right m-0 my-auto w-45 d-inline-block">
            {{ page.language_dropdown }}
          </div>
        {% endif %}

        {% if show_header_icon %}
          <div{{ create_attribute().addClass(add_class) }}>
            {% include '@kym/template-parts/social-icons.html.twig' %}
          </div> <!--/.social-icon -->
        {% endif %}

      </div> <!--/.header-top-right -->
    {% endif %}

    </div> <!--/.header-top-container -->
  </div> <!--/.container -->
</div> <!--/.header-top -->